@charset "utf-8";

div.sub_top_banner div.center {
  background: url(../img/sub_top_img01.png);
}

div.map {
	width: 100% !important;
	height: 500px;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
	position: relative;
	display: block;
	margin-bottom: 200px;
}

div.text_wrap {
	width: 1200px;
	height: 200px;
	background: white;
	position: absolute;
	z-index: 10;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	border-bottom: 2px solid #5997e9;
	margin-top: 380px;
}

div.text_wrap div.title {
	color: #3a3a3c;
	font-size: 28px;
	width: 350px;
	height: 30px;
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	margin-top: 90px;
	border-right: 1px solid #a7a9ac;
}

div.text_wrap ul.address {
	width: 849px;
	height: 200px;
	float: right;
	margin-top: -130px;
	box-sizing: border-box;
	padding: 82px 50px 0px 50px;
}

div.text_wrap ul.address li {
	color: #3a3a3c;
	font-size: 20px;
	line-height: 35px;
}

div.text_wrap ul.address li.float {
	float: left;
	font-size: 17px;
	color: #a7a9ac;
	margin-right: 15px;
}

div.text_wrap ul.address li.line {
	width: 2px;
	height: 15px;
	display: block;
	margin-top: 9px;
	line-height: 15px;
	border-right: 1px solid #e6e6e6;
}

footer {
	clear: both;
}