@charset "utf-8";

div.sub_top_banner div.center {
  background: url(../img/sub_top_img03.png);
}

ul.tab {
	width: 900px;
	margin: 0 auto;
}

ul.tab > li {
	float: left;
	width: 450px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	box-sizing: border-box;
	background: #bbd8ff;
	text-align: center;
	color: white;
	cursor: pointer;
}

ul.tab > li.border_left {
	border-radius: 100px 0px 0px 100px;
	border-right: 1px solid white;
}

ul.tab > li.border_right {
	border-radius: 0px 100px 100px 0px;
	border-right: 1px solid white;
}

ul.tab > li.active {
	background: #5997e9;
}

div.contents > div.content > ul.circleList {
	width: 920px;
	margin: 100px auto; 
}

div.contents > div.content > ul.circleList > li {
	width: 250px;
	height: 250px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 100%;
	padding-top: 70px;
	float: left;
	border: 2px dashed #c8e0ff;
	margin-left: -20px;
	background: rgba(138,182,240,0.3);
}

div.contents > div.content > ul.circleList > li > h3.point {
	margin-bottom: 20px;
}

div.contents > div.content > ul.circleList > li > h4.black {
	line-height: 30px;
}

div.contents > div.content > div.img_wrap {
	width: 1200px;
	margin: 0 auto;
	height: auto;
	box-sizing: border-box;
	padding-bottom: 80px;
	border-bottom: 1px solid #e6e6e6;
}

div.contents > div.content > div.img_wrap > img {
	border: 1px solid #e6e6e6;
	float: left;
	width: 260px;
	height: 355px;
	box-sizing: border-box;
	margin-right: 40px;
}

div.contents > div.content h4.company_title {
	text-align: center;
	width: 250px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	border-radius: 100px;
	background: #5997e9;
	margin: 70px auto 40px;
}

div.contents > div.content > ul.logo_list01 > li,
div.contents > div.content > ul.logo_list02 > li {
	width: 190px;
	height: 100px;
	float: left;
	margin: 0px 10px 10px 0px;
}

div.contents > div.content > ul.logo_list01 > li img,
div.contents > div.content > ul.logo_list02 > li img {
	border: 1px solid #e6e6e6;
	width: 190px;
	height: 100px;
	border-radius: 8px;
}

div.contents > div.content a.more_one,
div.contents > div.content a.more_two {
	display: block;
	width: 120px;
	height: 40px;
	border: 1px solid #a7a9ac;
	color: #a7a9ac;
	font-size: 17px;
	border-radius: 5px;
	margin: 40px auto;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
}